<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb"
      lang="en-gb">
<head>
    <jdoc:include type="head"/>
    <link rel="stylesheet" href="/Webinar_joomla2.5/templates/system/css/system.css" type="text/css"/>
    <link rel="stylesheet" href="/Webinar_joomla2.5/templates/system/css/general.css" type="text/css"/>
    <link rel="stylesheet"
          href="/Webinar_joomla2.5/templates/webinarv2/css/skitter.styles.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/Webinar_joomla2.5/templates/webinarv2/css/styles_webinar.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/Webinar_joomla2.5/templates/webinarv2/css/min_timer.css"
          type="text/css"/>

    <script type="text/javascript"
            src="/Webinar_joomla2.5/templates/webinarv2/js/jquery.min.js"></script>
    <script type="text/javascript"
            src="/Webinar_joomla2.5/templates/webinarv2/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript"
            src="/Webinar_joomla2.5/templates/webinarv2/js/jquery.skitter.js"></script>
    <script type="text/javascript"
            src="/Webinar_joomla2.5/templates/webinarv2/js/customer.js"></script>
</head>


<body>
<div id="wrapper">
    <div id="header">
        <div id="header-top">
            <div id="claydata-logo">
            </div>
            <div id="claydata-clock">
                <ul id="clock">
                    <li id="sec"></li>
                    <li id="hour"></li>
                    <li id="min"></li>
                </ul>
            </div>
        </div>

        <div id="mainmenu">
            <div class="moduletable">

                <ul class="menu">
                    <li class="item-435"><a href="/Webinar_joomla2.5/">Home</a></li>
                    <li class="item-470"><a href="/Webinar_joomla2.5/index.php/services">Services</a></li>
                    <li class="item-468"><a href="/Webinar_joomla2.5/index.php/our-team">Our Team</a></li>
                    <li class="item-469"><a href="/Webinar_joomla2.5/index.php/about-us">About Us</a></li>
                    <li class="item-471 current active"><a href="/Webinar_joomla2.5/index.php/contact-us">Contact us</a>
                    </li>
                </ul>
            </div>

        </div>
        <!--        <div id="menu">-->
        <!--            <ul>-->
        <!--                <li><a class="current" href="#" title="">Home</a></li>-->
        <!--                <li><a href="#" title="">About Us</a></li>-->
        <!--                <li><a href="#" title="">Services</a></li>-->
        <!--                <li><a href="#" title="">Contact Us</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>

    <!-- Content -->
    <div id="container">
        <div id="pomo">


            <div class="custom">
                <div class="slideshow">
                    <div class="box_skitter box_skitter_large">
                        <ul>
                            <li><a href="#cube"><img
                                    src="/Webinar_joomla2.5/templates/webinarv2/images/example/005.jpg"
                                    class="cube"/></a>

                                <div class="label_text"><p>Welcome to Weekly Webinar @Claydata</p></div>
                            </li>
                            <li><a href="#cubeRandom"><img
                                    src="/Webinar_joomla2.5/templates/webinarv2/images/example/006.png"
                                    class="cubeRandom"/></a>

                                <div class="label_text"><p>PuttyHelp Platform</p></div>
                            </li>
                            <li><a href="#block"><img
                                    src="/Webinar_joomla2.5/templates/webinarv2/images/example/007.jpg"
                                    class="block"/></a>

                                <div class="label_text"><p>eScript </p></div>
                            </li>
                            <!--<li><a href="#cubeStop"><img src="/Webinar_joomla2.5/images/example/004.jpg" class="cubeStop" /></a><div class="label_text"><p>eScript</p></div></li>-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="component">

            <div id="system-message-container">
            </div>
            <div class="blog">


                <div class="items-leading">
                    <div class="leading-0">

                        <h2>
                            <a href="/Webinar_joomla2.5/index.php/contact-us/74-contact-us">
                                Contact us</a>
                        </h2>

                        <ul class="actions">
                            <li class="print-icon">
                                <a href="/Webinar_joomla2.5/index.php/contact-us/74-contact-us?tmpl=component&amp;print=1&amp;layout=default&amp;page="
                                   title="Print"
                                   onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;"
                                   rel="nofollow"><img src="/Webinar_joomla2.5/media/system/images/printButton.png"
                                                       alt="Print"/></a></li>
                            <li class="email-icon">
                                <a href="/Webinar_joomla2.5/index.php/component/mailto/?tmpl=component&amp;template=webinarv2&amp;link=c155ef084af96a5cf9b644266746eb6700eb2803"
                                   title="Email"
                                   onclick="window.open(this.href,'win2','width=400,height=350,menubar=yes,resizable=yes'); return false;"><img
                                        src="/Webinar_joomla2.5/media/system/images/emailButton.png" alt="Email"/></a>
                            </li>
                        </ul>


                        <dl class="article-info">
                            <dt class="article-info-term">Details</dt>
                            <dd class="category-name">
                                Category: <a href="/Webinar_joomla2.5/index.php/contact-us">Contact us</a></dd>
                            <dd class="published">
                                Published on Friday, 23 August 2013 03:42
                            </dd>
                            <dd class="createdby">

                                Written by Super User
                            </dd>
                            <dd class="hits">
                                Hits: 22
                            </dd>
                        </dl>
                        <p>contact us</p>
                        Contact us
                        Contact us
                        Contact us
                        Contact us
                        Contact us
                        Contact us
                        Contact us
                        Contact us<img src="/Webinar_joomla2.5/images/powered_by.png" alt=""/>


                        <div class="item-separator"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
</div>

</body>
</html>